
body {
	background: var(--background-color);
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.container {
    width: screen;
    margin: 0 auto;
}

.container {
    width: screen;
    margin: 0 auto;
}

.logo {
    float: left;
    transform: scale(0.7);
}

header {
   background: #5a0707 
}
header::after{
    content: '';
    display: table;
    clear: both;
}

nav {
    float: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 25px;
}

nav a {
    color: rgb(243, 203, 212);
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    font-size: 18px;
}

  /*header*/
  .header-qualifactions {
    padding: 60px;
    text-align: left;
    background: #a08e74;
    color: white;
    font-size: 20px;
  }


  /* categories*/
.column {
    float: left;
    width: 27.38%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }